DB_USER=postgres
DB_PASS=suasenha
DB_HOST=localhost
DB_PORT=5433
DB_NAME=datacrypt_db
DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

PORTAL_TRANSPARENCIA_API_KEY=
PORTAL_TRANSPARENCIA_BASE_URL=https://api.portaldatransparencia.gov.br/api-de-dados

IBGE_SYNC_ON_STARTUP=false
TRANSPARENCIA_SYNC_ON_STARTUP=false

TRANSPARENCIA_JOB_STALE_AFTER_MINUTES=15
PORTAL_TRANSPARENCIA_MAX_REQUESTS_PER_MINUTE=10
PORTAL_TRANSPARENCIA_MIN_INTERVAL_SECONDS=5
PORTAL_TRANSPARENCIA_RESTRICTED_REQUESTS_PER_MINUTE=10
PORTAL_TRANSPARENCIA_UNRESTRICTED_NIGHT_REQUESTS_PER_MINUTE=10
PORTAL_TRANSPARENCIA_UNRESTRICTED_DAY_REQUESTS_PER_MINUTE=10
