# Credenciais usadas pelo container Postgres e pela aplicação local
DB_USER=postgres
DB_PASS=suasenha
DB_HOST=localhost
DB_PORT=5433
DB_NAME=datacrypt_db

# String consolidada para o SQLAlchemy
DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

PORTAL_TRANSPARENCIA_API_KEY="chave-api-dados: 82547f57cec32b05352213c35dd044e2"
PORTAL_TRANSPARENCIA_BASE_URL=https://api.portaldatransparencia.gov.br/api-de-dados

IBGE_SYNC_ON_STARTUP=true
TRANSPARENCIA_SYNC_ON_STARTUP=true
